<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My first page</title>
</head>
<body>
<center>
    <h1 style="color:blue"> Welcome to Regex world </h1>
  <form class="form-inline" action="" method="post">
    <label style="color:red"> <b> Enter String </b>   </label>
    <input type="text" name="string"><br>
    <label style="color:red"><b> Enter Regex </b></label>
    <input type="text" name="reg_string"><br><br>
    <button type="submit" style="color:orange"> <b> Button </b> </button><br><br><br>
  </form>
    <p style="color:green">
        <b>Your String::</b> {{str1}}<br>
        <b>Your Regex::</b> {{reg1}}<br><br>
        <b>No of matches string::</b> {{cnt}}
    </p>
</center>
</body>
</html>